{% include "base.html" %}
{% block content %}
{% for m in messages %}
<div class="alert alert-success text-center">
    <strong>{{m}}</strong>
</div>
{% endfor %}
<div class="container-fluid">
    <div class="bg-dark mt-2">
        <p class="nav-link text-light text-center">Dash Board</p>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header text-white bg-dark text-center">Bill Raise Amount</div>
                <div class="card-body">
                    <h1 class="card-text text-center text-info"><i class="fa fa-rupee-sign"></i> {{tamt}}</h1>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-2">
                <div class="card-header text-white bg-dark text-center">Total Amount Received</div>
                <div class="card-body">
                    <h1 class="card-text text-center text-success"><i class="fa fa-rupee-sign"></i> {{tamt2}}</h1>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-2">
                <div class="card-header text-white bg-dark text-center">Total Due Amount</div>
                <div class="card-body">
                    <h1 class="card-text text-center text-danger"><i class="fa fa-rupee-sign"></i> {{tamt3}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block scripts %}
{% endblock scripts %}