{% include "profilebase.html" %} {% block main %}
<div class="container-fluid">
  <div class="bg-dark mt-1 text-end">
    <a class="nav-link text-light" href="{% url 'logout' %}"
      >Hello, Mr. {{request.user}}
      <i
        class="fas fa-sign-out-alt"
        data-toggle="tooltip"
        data-placement="bottom"
        title="Logout"
      ></i
    ></a>
  </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">

            hellow
        </div>
    </div>
</div>
{% endblock %}
