{% include "base.html" %} {% block content %}
<div class="container-fluid">
  <div class="bg-dark mt-1">
    <p class="nav-link text-light text-center">Service History</p>
  </div>

  <div class="row">
    <div class="col-6 offset-3">
      <div class="card">
        <div class="card-header text-center bg-dark text-light">Bande Maa Taram</div>
        <div class="card-body">

          <form action="" method="POST">
            {% csrf_token %}
            {% for c in tc %}
            {{c}}
            {% endfor %}
            <button type="submit" class="btn btn-dark btn-sm mt-2">Submit</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}