{% include "profile/profilebase.html" %} {% load humanize %} {% block main %}
<div class="container-fluid">
  <div class="bg-dark mt-1">
    <p class="nav-link text-light text-center">Parts Registrations</p>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header bg-dark text-light text-center">
          Add New Parts
        </div>
        <div class="card-body">
          <form action="" method="post">
            {% csrf_token %}
            <input
              class="form-control mt-2"
              type="text"
              name="reqPartName"
              placeholder="Parts Name"
              required
            />
            <input
              class="form-control mt-2"
              type="number"
              name="price"
              placeholder="Price"
              required
            />
            <button class="btn btn-dark w-100 mt-2" type="submit">Save</button>
          </form>
        </div>
        <div class="card-footer bg-dark text-light">Note : Check Carefully</div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-header bg-dark text-light text-center">Details</div>
        <div class="card-body">
          <table class="table table-bordered">
            <thead class="bg-dark text-light text-center">
              <tr>
                <td>Sl. No.</td>
                <td>Parts Name</td>
                <td>Price</td>
                <td>Action</td>
              </tr>
            </thead>
            {% for p in prt %}
            <tbody>
              <tr class="">
                <td>{{forloop.counter}}</td>
                <td>{{p.reqPartName | upper}}</td>
                <td class="text-end">{{p.price | intcomma}}</td>
                <td class="text-center">
                  <a class="btn btn-dark m-1" href=""
                    ><i class="fas fa-edit"></i
                  ></a>
                  <a
                    class="btn btn-danger m-1"
                    data-bs-toggle="modal"
                    data-bs-target="#partsRegModal"
                    ><i class="fa fa-trash-alt"></i>
                  </a>
                </td>
              </tr>
            </tbody>
            <!-------------------------------------------------- Modal ------------------------------------------------->
            <div
              class="modal fade"
              id="partsRegModal"
              tabindex="-1"
              aria-labelledby="partsRegModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="partsRegModalLabel">
                      Delete This Item ?
                    </h5>
                  </div>
                  <div class="modal-body">
                    Are you sure, You want delete this?
                  </div>
                  <div class="modal-footer">
                    <a
                      class="btn btn-danger m-1"
                      href="{% url 'parts_del' p.id %}"
                      ><i class="far fa-check-circle"></i
                    ></a>
                    <a
                      type="button"
                      class="btn btn-dark"
                      data-bs-dismiss="modal"
                    >
                      <i class="far fa-times-circle"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-------------------------------------------------- Modal ------------------------------------------------->
            {% endfor %}
            <tfoot class="bg-dark text-light text-center">
              <tr>
                <td>Sl. No.</td>
                <td>Parts Name</td>
                <td>Price</td>
                <td>Action</td>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- <div class="card-footer bg-dark text-light">
          Note : You Can Delete & Edit Data
        </div> -->
      </div>
    </div>
  </div>
</div>

{% endblock %}
