<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/moneyReceipts.css">
    <title>Document</title>
</head>

<body>
    <!-- Money Receipts Template Start -->
    <!-- <div id="myNav" class="overlay"> -->
        <div class="action no-print radius-1">
            <button class="no-print" type="button" onclick="window.print()">Print</button>
            <button class="no-print" type="button" onclick="window.print()">Edit</button>
            <button class="no-print" type="button" onclick="closeNav()">Close</button>
        </div>
        <div class="container">
            <div class="header">
                <div class="row pt10">
                    <img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-webinar-optimizing-for-success-google-business-webinar-13.png"
                        alt="">
                    <div class="text-end">
                        <h2 class="m0">Alphabet Inc.</h2>
                        <p class="m0">American multinational conglomerate headquartered in Mountain View</p>
                        <p class="m0">GSTINN : AA12421524ss1</p>
                    </div>
                </div>
                <div class="text-center">
                    <h2 class="m0">MONEY RECEIPTS</h2>
                </div>
                <div class="row">
                    <p class="">Date : 12.02.2021</p>
                    <p class="">MR No : 000123</p>
                </div>
            </div>
            <div class="body">
                <div class="row">
                    <h3>Received with Thanks from : </h3>
                </div>
                <div class="row">
                    <h3>Rupees in words : </h3>
                </div>
                <div class="row">
                    <div class="w25 m0">
                        <h3>Cash/ Cheque </h3>
                    </div>
                    <div class="w25 m0">
                        <h3>No. :</h3>
                    </div>
                    <div class="w25 m0">
                        <h3>Bank :</h3>
                    </div>
                    <div class="w25 m0">
                        <h3>Date : </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="w50">
                        <h3>For the purpose of : </h3>
                    </div>
                    <div class="w50">
                        <h3>Contact No. : </h3>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="row pt20">
                    <div class="w33">
                        <h3 class="">Amount: </h3>
                    </div>
                    <div class="w33">
                        <h3 class="">Recevied By</h3>
                    </div>
                    <div class="w33">
                        <h3 class="">Authorised Signatory <h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="header">
                <div class="row pt10">
                    <img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-webinar-optimizing-for-success-google-business-webinar-13.png"
                        alt="">
                    <div class="text-end">
                        <h2 class="m0">Alphabet Inc.</h2>
                        <p class="m0">American multinational conglomerate headquartered in Mountain View</p>
                        <p class="m0">GSTINN : AA12421524ss1</p>
                    </div>
                </div>
                <div class="text-center">
                    <h2 class="m0">MONEY RECEIPTS</h2>
                </div>
                <div class="row">
                    <p class="">Date : 12.02.2021</p>
                    <p class="">MR No : 000123</p>
                </div>
            </div>
            <div class="body">
                <div class="row">
                    <h3>Received with Thanks from : </h3>
                </div>
                <div class="row">
                    <h3>Rupees in words : </h3>
                </div>
                <div class="row">
                    <div class="w25 m0">
                        <h3>Cash/ Cheque </h3>
                    </div>
                    <div class="w25 m0">
                        <h3>No. :</h3>
                    </div>
                    <div class="w25 m0">
                        <h3>Bank :</h3>
                    </div>
                    <div class="w25 m0">
                        <h3>Date : </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="w50">
                        <h3>For the purpose of : </h3>
                    </div>
                    <div class="w50">
                        <h3>Contact No. : </h3>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="row pt20">
                    <div class="w33">
                        <h3 class="">Amount: </h3>
                    </div>
                    <div class="w33">
                        <h3 class="">Recevied By</h3>
                    </div>
                    <div class="w33">
                        <h3 class="">Authorised Signatory <h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="action no-print radius-1">
            <button class="no-print" type="button" onclick="window.print()">Print</button>
            <button class="no-print" type="button" onclick="window.print()">Edit</button>
            <button class="no-print" type="button" onclick="closeNav()">Close</button>
        </div>
    <!-- </div> -->
    <!-- Money Receipts Template end -->

    <!-- <button onclick="openNav()">Preview</button>
    <script>
        function openNav() {
            document.getElementById("myNav").style.width = "100%";
        }

        function closeNav() {
            document.getElementById("myNav").style.width = "0%";
        }
    </script> -->
</body>

</html>