{% include "main/base.html" %} {% load humanize %} {% block content %} {% for m in messages %}
<div class="alert alert-success text-center">
  <strong>{{m}}</strong>
</div>
{% endfor %}

<div class="container-fluid mt-3">
  <form method="POST" action="/customer">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-6">
        <!-- 1st Card -->

        <div class="card shadow">
          <div class="card-header bg-dark text-light">
            <i class="fa fa-user-friends"></i> Customer Details
          </div>
          <div class="card-body p-2">
            <div class="row">
              <div class="col">
                <input
                  id="name"
                  name="name"
                  type="text"
                  class="form-control"
                  placeholder="Name"
                  required
                />
              </div>
              <div class="col">
                <input
                  id="address"
                  name="address"
                  type="text"
                  class="form-control"
                  placeholder="Address"
                  required
                />
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <input
                  id="phoneno"
                  name="phoneNo"
                  type="text"
                  class="form-control"
                  placeholder="Phone number"
                  required
                />
              </div>
              <div class="col">
                <input
                  id="email"
                  name="email"
                  type="text"
                  class="form-control"
                  placeholder="Email Id"
                  required
                />
              </div>
            </div>
          </div>
        </div>

        <!-- 2nd Card -->

        <div class="card mt-2 shadow">
          <div class="card-header bg-dark text-light">
            <i class="fa fa-luggage-cart"></i> Product Details
          </div>
          <div class="card-body p-2">
            <div class="row">
              <div class="col-sm-5">
                <input
                  id="modelNameOne"
                  name="modelNameOne"
                  type="text"
                  class="form-control"
                  placeholder="Model Name"
                  required
                />
              </div>
              <div class="col-sm-5">
                <input
                  id="modelNoOne"
                  name="modelNoOne"
                  type="text"
                  class="form-control"
                  placeholder="Model Number"
                  required
                />
              </div>
              <div class="col-sm-2">
                <input
                  id="quantityOne"
                  name="quantityOne"
                  type="text"
                  class="form-control"
                  placeholder="Quantity"
                  required
                />
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm-5">
                <input
                  id="modelNameTwo"
                  name="modelNameTwo"
                  type="text"
                  class="form-control"
                  placeholder="Model Name"
                />
              </div>
              <div class="col-sm-5">
                <input
                  id="modelNoTwo"
                  name="modelNoTwo"
                  type="text"
                  class="form-control"
                  placeholder="Model Number"
                />
              </div>
              <div class="col-sm-2">
                <input
                  id="quantityTwo"
                  name="quantityTwo"
                  type="text"
                  class="form-control"
                  placeholder="Quantity"
                />
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <input
                  class="form-control"
                  type="number"
                  min="4"
                  max="4"
                  placeholder="No of Service"
                  name="service"
                  required
                  value="4"
                />
              </div>
              <div class="col">
                <input
                  class="form-control"
                  type="number"
                  min="0"
                  max="12"
                  placeholder="Tenur/ No. of Year for EMI"
                  name="emi"
                />
              </div>
              <div class="col">
                <input
                  id="date"
                  name="purchaseDate"
                  type="date"
                  class="form-control"
                  required
                />
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <input
                  id="totalAmount"
                  name="totalAmount"
                  type="number"
                  min="0"
                  class="form-control"
                  placeholder="Total Amount"
                  required
                />
              </div>
              <div class="col">
                <input
                  id="advance"
                  name="advanceAmount"
                  type="number"
                  min="0"
                  class="form-control"
                  placeholder="Advance"
                  required
                />
              </div>
              <div class="col">
                <!-- Hidden Value -->
                <input type="hidden" name="dueAmount" class="dueAmount" />

                <button
                  type="button"
                  class="btn btn-dark w-100"
                  onclick="result()"
                >Go
                </button>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <p class="text-right">Note: Please Check All Details Carefully *</p>
      </div>

      <div class="col-md-6">
        <!-- 1st Table -->
          
          <div class="card shadow">
            <div class="card-header bg-dark text-light text-center">
            View
          </div>
          <div class="card-body">
              <table class="table table-bordered">
                  <tr class="row m-2">
                    <td class="col-3 text-right"><strong>Name</strong></td>
                    <td class="col-9"><strong class="cname text-success"></strong></td>
                  </tr>
                  <tr class="row m-2">
                    <td class="col-3 text-right"><strong>Address</strong></td>
                    <td class="col-9"><strong class="caddress text-success"></strong></td>
                  </tr>
                  <tr class="row m-2">
                    <td class="col-3 text-right"><strong>Contact No.</strong></td>
                    <td class="col-9"><strong class="ccontact text-success"></strong></td>
                  </tr>
                  <tr class="row m-2">
                    <td class="col-3 text-right"><strong>Email Id</strong></td>
                    <td class="col-9"><strong class="cemail text-success"></strong></td>
                  </tr>
              </table>
          </div>
        </div>

        <!-- 2nd card -->

        <div class="card mt-2">
          <!-- <div class="card-header bg-dark text-light">
            Product Informations
        </div> -->
        <div class="card-body shadow">
            <table class="table table-bordered">
                <tr class="row m-2">
                  <td class="col-4">Product 1 : <strong class="cproductNameOne text-success"></strong></td>
                  <td class="col-4">Model : <strong class="cproductNoOne text-success"></strong></td>
                  <td class="col-4">Qnty. : <strong class="cquantityOne text-success"></strong></td>
                </tr>
                <tr class="row m-2">
                  <td class="col-4">Product 2 : <strong class="cproductNameTwo text-success"></strong></td>
                  <td class="col-4">Model : <strong class="cproductNoTwo text-success"></strong></td>
                  <td class="col-4">Qnty. : <strong class="cquantityTwo text-success"></strong></td>
                </tr>
                <tr class="row m-2">
                  <td class="col-3">Date : <strong class="cpurchaseDate text-success"></strong></td>
                  <td class="col-3">Amount : <strong class="camount text-success"></strong></td>
                  <td class="col-3">Advance : <strong class="cadvance text-success"></strong></td>
                  <td class="col-3">Due : <strong class="cdue text-danger"></strong></td>
                </tr>
            </table>
            <li class="list-group-item text-center p-2">
              <button type="submit" class="btn btn-dark w-100">Submit</button>
            </li>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock content %} {% block scripts %}

<script>
  const result = () => {
    // name
    var name = document.querySelector("#name").value;
    var cname = document.querySelector(".cname");
    cname.innerHTML = name;

    // address
    var address = document.querySelector("#address").value;
    var caddress = document.querySelector(".caddress");
    caddress.innerHTML = address;

    // Phone No
    var phoneno = document.querySelector("#phoneno").value;
    var ccontact = document.querySelector(".ccontact");
    ccontact.innerHTML = phoneno;

    // email ID
    var email = document.querySelector("#email").value;
    var cemail = document.querySelector(".cemail");
    cemail.innerHTML = email;

    // Model Name 1
    var modelNameOne = document.querySelector("#modelNameOne").value;
    var cproductNameOne = document.querySelector(".cproductNameOne");
    cproductNameOne.innerHTML = modelNameOne; //Done

    // Quantity 1
    var quantityOne = document.querySelector("#quantityOne").value;
    var cquantityOne = document.querySelector(".cquantityOne");
    cquantityOne.innerHTML = quantityOne; //Done

    // Moedel No 1
    var modelNoOne = document.querySelector("#modelNoOne").value;
    var cproductNoOne = document.querySelector(".cproductNoOne");
    cproductNoOne.innerHTML = modelNoOne; //Done

    // Model Name 2
    var modelNameTwo = document.querySelector("#modelNameTwo").value;
    var cproductNameTwo = document.querySelector(".cproductNameTwo");
    cproductNameTwo.innerHTML = modelNameTwo; //Done

    // Quantity 2
    var quantityTwo = document.querySelector("#quantityTwo").value;
    var cquantityTwo = document.querySelector(".cquantityTwo");
    cquantityTwo.innerHTML = quantityTwo; //Done

    // Model No 2
    var modelNoTwo = document.querySelector("#modelNoTwo").value;
    var cproductNoTwo = document.querySelector(".cproductNoTwo");
    cproductNoTwo.innerHTML = modelNoTwo; //Done

    // Date
    var date = document.querySelector("#date").value;
    var cpurchaseDate = document.querySelector(".cpurchaseDate");
    cpurchaseDate.innerHTML = date;

    // Total Amount
    var totalAmount = document.querySelector("#totalAmount").value;
    var camount = document.querySelector(".camount");
    // camount.innerHTML = totalAmount;

    // Advance Amount
    var advance = document.querySelector("#advance").value;
    var cadvance = document.querySelector(".cadvance");
    // cadvance.innerHTML = advance;

    // Due AMount Calculate
    var totalAmount = document.querySelector("#totalAmount").value;
    var advanceA = document.querySelector("#advance").value;
    var dueamt = (document.querySelector(".dueAmount").value =
      totalAmount - advanceA);

    // Due Amount Checking Funtion
    if (parseInt(totalAmount) < parseInt(advanceA)) {
      alert("Advance Amount Grater than Bill Amount");
      document.querySelector("#advance").value = 0;
    } else {
      var cdue = document.querySelector(".cdue");
      cdue.innerHTML = dueamt;
      camount.innerHTML = totalAmount;
      cadvance.innerHTML = advance;
    }
  };
</script>
{% endblock scripts %}
