{% include "main/base.html" %} {% load humanize %} {% block content %}

<div class="container-fluid">
  <div class="bg-dark mt-1">
    <p class="nav-link text-light text-center">Full details</p>
  </div>
  <div class="row">
    <div class="col-6">
      <table class="table table-bordered shadow">
        <ul class="list-group">
          <li class="list-group-item bg-dark text-light text-center">
            <strong>Customer Details</strong>
          </li>
        </ul>
        <tbody>
          <tr>
            <td>Customer Id :</td>
            <td class="text-danger"><strong>{{ghh.custimerId}}</strong></td>
          </tr>
          <tr>
            <td>Customer name :</td>
            <td class="text-success"><strong>{{ghh.name | upper}}</strong></td>
          </tr>
          <tr>
            <td>Phone No :</td>
            <td>{{ghh.phoneNo}}</td>
          </tr>
          <tr>
            <td>Email Id :</td>
            <td>{{ghh.email}}</td>
          </tr>
          <tr>
            <td>Address :</td>
            <td>{{ghh.address}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6">
      <ul class="list-group">
        <li class="list-group-item bg-dark text-light text-center">
          <strong>Product Details Details</strong>
        </li>
      </ul>
      <table class="table table-bordered shadow">
        <tbody>
          <tr>
            <td>Product 1 :</td>
            <td>
              <strong
                >{{ghh.modelNameOne | upper}} -- {{ghh.modelNoOne}}</strong
              >
            </td>
          </tr>
          <tr>
            <td>Quantity :</td>
            <td><strong>{{ghh.quantityOne}}</strong></td>
          </tr>
          <tr>
            <td>Product 2 :</td>
            <td><strong>{{ghh.modelNameTwo}} -- {{ghh.modelNoTwo}}</strong></td>
          </tr>
          <tr>
            <td>Quantity :</td>
            <td>{{ghh.quantityTwo}}</td>
          </tr>
          <tr>
            <td>Purcase Date :</td>
            <td class="text-success"><strong>{{ghh.purchaseDate}}</strong></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <hr />
  <div class="bg-dark mt-1">
    <p class="nav-link text-center text-light">Payment Details</p>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-bordered shadow">
        <thead>
          <tr class="bg-dark text-light text-center">
            <th>Sl No.</th>
            <th>Date</th>
            <th>Details (Cash/ Cheque)</th>
            <th>Amount Received</th>
            <th>Bill Amount</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td>{{ghh.purchaseDate}}</td>
            <td></td>
            <td class="text-right text-success">
              <strong>{{ghh.advanceAmount | intcomma}}</strong>
            </td>
            <td class="text-right text-success">
              <strong>{{ghh.totalAmount | intcomma}}</strong>
            </td>
          </tr>
          {% for p in phh %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{p.paymentDate}} -- {{p.paymentDate | naturalday}}</td>
            <td>{{p.cashCheque}} -- {{p.chequeNo}}</td>
            <td class="text-right">{{p.paidAmount | intcomma}}</td>
            <td></td>
            <td class="text-center">
              <a
                class="btn btn-dark btn-sm"
                type="button"
                href="/moneyreceipts"
              >
                M. Receipts
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr class="bg-dark text-light">
            <th></th>
            <th></th>
            <th class="text-right">Total</th>
            <th class="text-right">{{ghh.total_paid_amount | intcomma}}</th>
            <th class="text-right">{{ghh.totalAmount | intcomma}}</th>
            <th class="text-center">Action</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

{% endblock %}
